body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    height: 300px;
    width: 50%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}
.bluebox{
    background-color: blue;
    height: 50%;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}
.whitebox{
    width: 40%;
    height: 150px;
    background-color: whitesmoke;
    border-radius: 10px;
    position: absolute;
    top: 15%;
    left: 3%;

}